Repository andrewhinh/web-os: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, rustfmt-check, cargo-clippy, cargo-test-kernel, cargo-test-rest, npm-ci, npm-format, npm-lint, npm-check, npm-build

rustfmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

rustfmt-check:
  name: cargo fmt -- --check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy -- -D warnings
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

cargo-test-kernel:
  name: cd crates/kernel && cargo test
  entry: bash -c 'cd crates/kernel && cargo test'
  language: system
  pass_filenames: false

cargo-test-rest:
  name: cargo test --workspace --exclude libkernel
  entry: cargo test --workspace --exclude libkernel
  language: system
  pass_filenames: false

npm-ci:
  name: npm ci
  entry: npm ci
  language: system
  pass_filenames: false

npm-format:
  name: npm run format
  entry: bash -c 'test -d node_modules || npm ci; npm run format'
  language: system
  pass_filenames: false

npm-lint:
  name: npm run lint
  entry: bash -c 'test -d node_modules || npm ci; npm run lint'
  language: system
  pass_filenames: false

npm-check:
  name: npm run check
  entry: bash -c 'test -d node_modules || npm ci; npx svelte-kit sync; npm run check'
  language: system
  pass_filenames: false

npm-build:
  name: npm run build
  entry: bash -c 'test -d node_modules || npm ci; npm run build'
  language: system
  pass_filenames: false

fix keyboard on mobile
  src/lib/rfb.ts
  src/routes/+page.svelte
Due: npm-format, npm-lint, npm-check, npm-build

add TURN servers
  README.md
  crates/app/src/webrtc_gateway.rs
Due: rustfmt, rustfmt-check, cargo-clippy, cargo-test-kernel, cargo-test-rest

optimize server + frontend
  Cargo.lock
  crates/app/Cargo.toml
  crates/app/src/main.rs
  src/app.html
  src/routes/+page.svelte
Due: rustfmt, rustfmt-check, cargo-clippy, cargo-test-kernel, cargo-test-rest, npm-format, npm-lint, npm-check, npm-build

Update project description in README.md
  README.md
Due: none

readd missing server opt
  crates/app/src/main.rs
Due: rustfmt, rustfmt-check, cargo-clippy, cargo-test-kernel, cargo-test-rest

add bash-like shell functionality
  crates/kernel/src/console.rs
  crates/kernel/src/framebuffer.rs
  crates/kernel/src/virtio_input.rs
  crates/user/src/bin/cat.rs
  crates/user/src/bin/init.rs
  crates/user/src/bin/sh.rs
  src/lib/rfb.ts
Due: rustfmt, rustfmt-check, cargo-clippy, cargo-test-kernel, cargo-test-rest, npm-format, npm-lint, npm-check, npm-build

bump fly resources
  fly.toml
Due: none

update README
  README.md
Due: none

add kernel reset/resume/pause in frontend
  crates/app/src/main.rs
  crates/app/src/qemu.rs
  crates/app/src/webrtc_gateway.rs
  src/app.css
  src/routes/+page.svelte
Due: rustfmt, rustfmt-check, cargo-clippy, cargo-test-kernel, cargo-test-rest, npm-format, npm-lint, npm-check, npm-build

remove extra img
  static/app.png
Due: npm-format, npm-lint, npm-check, npm-build

optimize hotpaths
  Cargo.lock
  Cargo.toml
  crates/app/Cargo.toml
  crates/app/src/main.rs
  crates/app/src/webrtc_gateway.rs
  crates/kernel/src/bio.rs
  crates/kernel/src/framebuffer.rs
  crates/kernel/src/proc.rs
  src/lib/rfb.ts
Due: rustfmt, rustfmt-check, cargo-clippy, cargo-test-kernel, cargo-test-rest, npm-format, npm-lint, npm-check, npm-build

reduce specs cause holy its expensive af
  fly.toml
Due: none

use vite-plus
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierrc
  Dockerfile
  README.md
  crates/kernel/src/lib.rs
  eslint.config.js
  mprocs.yaml
  package-lock.json
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  src/app.css
  src/lib/rfb.test.ts
  src/lib/rfb.ts
  src/svelte-vnc.d.ts
  static/demo.gif
  static/demo.png
  svelte.config.js
  vite.config.ts
Due: rustfmt, rustfmt-check, cargo-clippy, cargo-test-kernel, cargo-test-rest, npm-ci, npm-format, npm-lint, npm-check, npm-build

Path conditions:
  rustfmt: any of: (Cargo\.toml|Cargo\.lock|rust-toolchain\.toml|rustfmt\.toml|\.cargo/|crates/|\.rs$)
  rustfmt-check: any of: (Cargo\.toml|Cargo\.lock|rust-toolchain\.toml|rustfmt\.toml|\.cargo/|crates/|\.rs$)
  cargo-clippy: any of: (Cargo\.toml|Cargo\.lock|rust-toolchain\.toml|rustfmt\.toml|\.cargo/|crates/|\.rs$)
  cargo-test-kernel: any of: (Cargo\.toml|Cargo\.lock|rust-toolchain\.toml|rustfmt\.toml|\.cargo/|crates/kernel/|\.rs$)
  cargo-test-rest: any of: (Cargo\.toml|Cargo\.lock|rust-toolchain\.toml|rustfmt\.toml|\.cargo/|crates/(?!kernel/)|\.rs$)
  npm-ci: any of: ^(package\.json|package-lock\.json)$
  npm-format: any of: ^(src/|static/|svelte\.config\.js$|vite\.config\.ts$|postcss\.config\.cjs$|tsconfig\.json$|eslint\.config\.js$|package\.json$|package-lock\.json$|\.prettierrc$)
  npm-lint: any of: ^(src/|static/|svelte\.config\.js$|vite\.config\.ts$|postcss\.config\.cjs$|tsconfig\.json$|eslint\.config\.js$|package\.json$|package-lock\.json$|\.prettierrc$)
  npm-check: any of: ^(src/|static/|svelte\.config\.js$|vite\.config\.ts$|postcss\.config\.cjs$|tsconfig\.json$|eslint\.config\.js$|package\.json$|package-lock\.json$|\.prettierrc$)
  npm-build: any of: ^(src/|static/|svelte\.config\.js$|vite\.config\.ts$|postcss\.config\.cjs$|tsconfig\.json$|eslint\.config\.js$|package\.json$|package-lock\.json$|\.prettierrc$)
